html,
body,
ul,
li {
  margin: 0px;
  padding: 0px;
}

#gallery {
  width: 512px;
  margin: 20px auto;
  text-align: center;
}

#gallery .photos {
  position: relative;
  height: 512px;
}

#gallery .photos img {
  width: 100%;
  position: absolute;
  left: 0px;
  opacity: 0;
  transition: opacity 1.5s;
}

#gallery .buttons {
  margin-top: 20px;
}

#gallery .photos img.showed {
  opacity: 1;
}
